
$white: #fffaef;
$yellow: #e0aa38;
$primary: $yellow;
$green: #4a7c59;
$purple: #730071;
$pink: #e000dd;
$secondary: $purple;
$blue: #016fb9;
$orange: #b97375;
$indigo: rgb(45, 0, 115);
$red: rgb(163, 2, 58);
$warning: $orange;
$black: #553819;
$dark: $black;
$gray-100: #EEE7DA;
$gray-200: #DDD3C4;
$gray-300: #CCC0AF;
$gray-400: #BBAC99;
$gray-500: #AA9984;
$gray-600: #99866F;
$gray-700: #887259;
$gray-800: #775F44;
$gray-900: #664B2E;
$body-color: $black;
$breadcrumb-bg: $gray-100;
$link-color: theme-color("secondary");
$link-hover-color: $pink;
$enable-rounded: false;
$modal-content-bg: $gray-100;